# App config
PORT=4400

# database
DATABASE_TYPE=mongodb
DATABASE_URL=connectionString
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false

# Authentication
AUTH_JWT_SECRET_KEY=guessit
AUTH_JWT_TOKEN_EXPIRES_IN=14d

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
